In [1]:
import pandas as pd

In [2]:
import os 
os.chdir('D:\Projects\web-scrap\seadoo')

In [3]:
%%time
df = (
    pd.read_excel('seadoo_db_test.xlsx')
    .drop(['oemparts', 'producer', '_'], axis=1)
     )

Wall time: 1min 38s

In [68]:
d2 = df.copy()

In [5]:
d.head()

,vehicle,year,model,system,ref,name,code,price
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN
3,Boats,1996,"Sportster, 5898",Seat Sportster,4,"Dart, Black",293730006.0,2.95
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN

In [40]:
# some operations on price column
d['actual_code'] = ''

In [41]:
# actually this is part code numbers! were incorrectly saved during parsing
idx = d[d['price'] > 100000000]['price'].index
idx2 = d[(d['price'].isna()) | (d['price'] < 100000000)].index
d.loc[idx, 'actual_code'] = d.loc[idx, 'price']
d.loc[idx2, 'actual_code'] = d.loc[idx2, 'code']

In [45]:
d.loc[idx, 'price'] = 0.0

In [73]:
d[d['price'] != 0]

,vehicle,year,model,system,ref,name,code,price,actual_code
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN,2.69e+08
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN,2.69e+08
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN,NaN
3,Boats,1996,"Sportster, 5898",Seat Sportster,4,"Dart, Black",293730006.0,2.95,2.9373e+08
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN,2.69e+08
...,...,...,...,...,...,...,...,...,...
611138,Watercraft,2019,FISH PRO,Body,1090,Bumper,291004468.0,71.99,2.91004e+08
611139,Watercraft,2019,FISH PRO,Body,9000,LH Side Grille Without Sound System,291004455.0,8.19,2.91004e+08
611140,Watercraft,2019,FISH PRO,Body,9005,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,2.50001e+08
611141,Watercraft,2019,FISH PRO,Body,9010,RH Side Grille Without Sound System,291004456.0,8.19,2.91004e+08
611142,Watercraft,2019,FISH PRO,Body,9015,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,2.50001e+08

In [76]:
x1, x2 = d.iloc[3, -1], d.iloc[3, -3]

In [86]:
def col_to_integer(df, col_name):
    df.loc[df[col_name].notna(), col_name] = df.loc[df[col_name].notna(), col_name].astype(int)

In [87]:
col_to_integer(d, 'code')

In [101]:
d.loc[d['code'].notna(), ['code']] = d.loc[d['code'].notna(), ['code']].astype(int)

In [110]:
idx3 = d.loc[d['code'].notna()].index

In [114]:
d.loc[idx3]['code'] = d.loc[idx3]['code'].astype(int)

In [119]:
d['code'] = d['code'].fillna(0).astype(int)

In [123]:
d['actual_code'] = d['actual_code'].fillna('')

In [133]:
d.loc[d['actual_code'] != '']['actual_code'].max()

291001198400.0

In [103]:
d['code']

0         269000379.0
1         269000403.0
2                 NaN
3         293730006.0
4         269000381.0
             ...
611138    291004468.0
611139    291004455.0
611140    250001007.0
611141    291004456.0
611142    250001007.0
Name: code, Length: 611143, dtype: float64

In [80]:
d[d['code'].notna()]['code'] = d[d['code'].notna()]['code'].astype(int)

0         269000379
1         269000403
3         293730006
4         269000381
8         295500402
            ...
611138    291004468
611139    291004455
611140    250001007
611141    291004456
611142    250001007
Name: code, Length: 589760, dtype: int32

In [30]:
d[(d['price'].isna()) | (d['price'] < 100000000)][['code', 'price', 'actual_code']]

               code  price  actual_code
0       269000379.0    NaN     2.69e+08
1       269000403.0    NaN     2.69e+08
2               NaN    NaN          NaN
3       293730006.0   2.95   2.9373e+08
4       269000381.0    NaN     2.69e+08
...             ...    ...          ...
611138  291004468.0  71.99  2.91004e+08
611139  291004455.0   8.19  2.91004e+08
611140  250001007.0   2.95  2.50001e+08
611141  291004456.0   8.19  2.91004e+08
611142  250001007.0   2.95  2.50001e+08

[525827 rows x 3 columns]

In [44]:
d.actual_code.fillna(0.0).astype(int)

0         269000379
1         269000403
2                 0
3         293730006
4         269000381
            ...
611138    291004468
611139    291004455
611140    250001007
611141    291004456
611142    250001007
Name: actual_code, Length: 611143, dtype: int32

In [42]:
d[d['actual_code'] == '']

Empty DataFrame
Columns: [vehicle, year, model, system, ref, name, code, price, actual_code]
Index: []

In [120]:
d[d['price'].isna()]

,vehicle,year,model,system,ref,name,code,price,actual_code
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN,
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN,
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN,
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN,
5,Boats,1996,"Sportster, 5898",Seat Sportster,6,Front Seat Cover (White),NaN,NaN,
...,...,...,...,...,...,...,...,...,...
610762,Watercraft,2019,FISH PRO,Cylinder Head And Exhaust Manifold,21,Wire Support,NaN,NaN,
610764,Watercraft,2019,FISH PRO,Engine Block,1>10,Cylinder Bloc 1503,420893579.0,NaN,
610800,Watercraft,2019,FISH PRO,Engine Block,37,"Engine Long Block, 1503 NA ETC",420150323.0,NaN,
610915,Watercraft,2019,FISH PRO,Engine,2300,Formed Hose,270000808.0,NaN,
611052,Watercraft,2019,FISH PRO,Air Intake Manifold And Throttle Body,9,See Engine Harness,NaN,NaN,

In [100]:
d.loc[idx2, 'actual_code'] = d.loc[idx2, 'code']

In [101]:
d

,vehicle,year,model,system,ref,name,code,price,actual_code
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN,
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN,
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN,
3,Boats,1996,"Sportster, 5898",Seat Sportster,4,"Dart, Black",293730006.0,2.95,2.9373e+08
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN,
...,...,...,...,...,...,...,...,...,...
611138,Watercraft,2019,FISH PRO,Body,1090,Bumper,291004468.0,71.99,2.91004e+08
611139,Watercraft,2019,FISH PRO,Body,9000,LH Side Grille Without Sound System,291004455.0,8.19,2.91004e+08
611140,Watercraft,2019,FISH PRO,Body,9005,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,2.50001e+08
611141,Watercraft,2019,FISH PRO,Body,9010,RH Side Grille Without Sound System,291004456.0,8.19,2.91004e+08
611142,Watercraft,2019,FISH PRO,Body,9015,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,2.50001e+08

In [ ]:
d.loc[idx, 'price'] = 0.0

In [90]:
idx2 = d[d['price'] < 100000000]['price'].index

In [91]:
d.loc[idx2, ['code', 'price', 'actual_code']]

               code  price  actual_code
3       293730006.0   2.95
13      210000005.0   0.00  2.07163e+08
14      213200007.0   0.00  2.34063e+08
15      293800015.0   0.00    2.938e+08
25      293730014.0   2.95
...             ...    ...          ...
611138  291004468.0  71.99
611139  291004455.0   8.19
611140  250001007.0   2.95
611141  291004456.0   8.19
611142  250001007.0   2.95

[424200 rows x 3 columns]

In [72]:
d2[d2['price'].isna()]

,vehicle,year,model,system,ref,name,code,price
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN
5,Boats,1996,"Sportster, 5898",Seat Sportster,6,Front Seat Cover (White),NaN,NaN
...,...,...,...,...,...,...,...,...
610762,Watercraft,2019,FISH PRO,Cylinder Head And Exhaust Manifold,21,Wire Support,NaN,NaN
610764,Watercraft,2019,FISH PRO,Engine Block,1>10,Cylinder Bloc 1503,420893579.0,NaN
610800,Watercraft,2019,FISH PRO,Engine Block,37,"Engine Long Block, 1503 NA ETC",420150323.0,NaN
610915,Watercraft,2019,FISH PRO,Engine,2300,Formed Hose,270000808.0,NaN
611052,Watercraft,2019,FISH PRO,Air Intake Manifold And Throttle Body,9,See Engine Harness,NaN,NaN

In [8]:
df = df.drop(['oemparts', 'producer', '_'], axis=1)

In [14]:
df['combine_code'] = ''

In [21]:
df[['price']] = df[['price']].fillna(0.0, axis=0)

In [44]:
idx = df[df['price'] > 100000000]['price'].index

In [56]:
df

,vehicle,year,model,system,ref,name,code,price,combine_code
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,0.00,
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,0.00,
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,0.00,
3,Boats,1996,"Sportster, 5898",Seat Sportster,4,"Dart, Black",293730006.0,2.95,
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,0.00,
...,...,...,...,...,...,...,...,...,...
611138,Watercraft,2019,FISH PRO,Body,1090,Bumper,291004468.0,71.99,
611139,Watercraft,2019,FISH PRO,Body,9000,LH Side Grille Without Sound System,291004455.0,8.19,
611140,Watercraft,2019,FISH PRO,Body,9005,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,
611141,Watercraft,2019,FISH PRO,Body,9010,RH Side Grille Without Sound System,291004456.0,8.19,
611142,Watercraft,2019,FISH PRO,Body,9015,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,

In [54]:
df['code'].fillna(0).

0         269000379.0
1         269000403.0
2                 0.0
3         293730006.0
4         269000381.0
             ...
611138    291004468.0
611139    291004455.0
611140    250001007.0
611141    291004456.0
611142    250001007.0
Name: code, Length: 611143, dtype: float64

In [48]:
df.loc[idx[0], ['price', 'code']]

price    2.07163e+08
code         2.1e+08
Name: 13, dtype: object

In [28]:
df[df['price'] < 100000000]['code']

0         269000379.0
1         269000403.0
2                 NaN
3         293730006.0
4         269000381.0
             ...
611138    291004468.0
611139    291004455.0
611140    250001007.0
611141    291004456.0
611142    250001007.0
Name: code, Length: 525827, dtype: float64

Drop columns:
    + oemparts
    + producer
    + _

In [28]:
df = df.drop(['oemparts', 'producer', '_'], axis=1)

In [41]:
df.loc[:, 'price'] > 100000000

0         False
1         False
2         False
3         False
4         False
          ...
611138    False
611139    False
611140    False
611141    False
611142    False
Name: price, Length: 611143, dtype: bool

In [30]:
df[df['price'] > 100000000]['combine_code'] = df[df['price'] > 100000000]['price']
df[df['price'] < 100000000]['combine_code'] = df[df['price'] < 100000000]['code']

<ipython-input-30-bf27c4d14efc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['price'] > 100000000]['combine_code'] = df[df['price'] > 100000000]['price']
<ipython-input-30-bf27c4d14efc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['price'] < 100000000]['combine_code'] = df[df['price'] < 100000000]['code']

#### Problem

- in cases when part has 2 links in tablerow (old detail lingk and current detail link) and old_code value owerwrtited price value. tbt, then price value not even could be extracted from page layout

##### wotmido?

- create 'combined_code' => 'code' if price extly price
                         => 'price' if price looks like big integer instead of little float(_)
- after that we will be abble to drop that values from price colums
- for that parts without price, try found price according new combined_column]

In [40]:
d = df.copy()

In [122]:
d['combined_code'] = d['price'][d['price'] > 100000000]

In [135]:
d['combined_code'].value_counts()

269700109.0    1504
293800060.0     930
293730040.0     720
278002895.0     697
296000303.0     689
               ...
275500622.0       1
420851740.0       1
420845620.0       1
420866716.0       1
269002981.0       1
Name: combined_code, Length: 2355, dtype: int64

In [167]:
    d[['code', 'price', 'combined_code']][d['code'].isna()]['price']

2        NaN
5        NaN
6        NaN
7        NaN
12       NaN
          ..
609172   NaN
609968   NaN
609978   NaN
610762   NaN
611052   NaN
Name: price, Length: 21383, dtype: float64

In [170]:
d['']

Index                128
vehicle          4889144
year             4889144
model            4889144
system           4889144
ref              4889144
name             4889144
code             4889144
price            4889144
combined_code    4889144
dtype: int64

In [145]:
d['combined_code'] = d['code'][(d['price'] < 100000000) | (d['price'].isna())]

In [151]:
sum(d['combined_code'].isna())

106691

In [115]:
d['combined_code'].value_counts()

    611143
Name: combined_code, dtype: int64

In [111]:
d.loc[ind1][['combined_code']] = d.loc[ind1][['price']]

In [104]:
d['combined_code'].value_counts()

    611143
Name: combined_code, dtype: int64

In [95]:
ind1 = d[d['price'] > 100000000].index

In [67]:
d[d['price'] > 100000000]['price']

13        207162560.0
14        234062600.0
15        293800060.0
32        293800060.0
39        208451260.0
             ...
610917    293650051.0
610918    293650179.0
610927    276000099.0
610939    276000099.0
610943    276000099.0
Name: price, Length: 85316, dtype: float64

In [58]:
d['combined_code'] = ''

In [59]:
d['combined_code'] = (d[d['price'] < 100000000]['code']) | (d[d['price'] > 100000000]['price'])

TypeError: unsupported operand type(s) for |: 'float' and 'bool'

In [57]:
d

,vehicle,year,model,system,ref,name,code,price,combined_code
0,Boats,1996,"Sportster, 5898",Seat Sportster,1,Front Backrest Ass'y (Ocean Reef) Includes 1 to 3,269000379.0,NaN,NaN
1,Boats,1996,"Sportster, 5898",Seat Sportster,2,Front Backrest Cover (Ocean Reef),269000403.0,NaN,NaN
2,Boats,1996,"Sportster, 5898",Seat Sportster,3,Front Backrest Foam,NaN,NaN,NaN
3,Boats,1996,"Sportster, 5898",Seat Sportster,4,"Dart, Black",293730006.0,2.95,NaN
4,Boats,1996,"Sportster, 5898",Seat Sportster,5,Front Seat Ass'y Includes 5 to 7,269000381.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
611138,Watercraft,2019,FISH PRO,Body,1090,Bumper,291004468.0,71.99,NaN
611139,Watercraft,2019,FISH PRO,Body,9000,LH Side Grille Without Sound System,291004455.0,8.19,NaN
611140,Watercraft,2019,FISH PRO,Body,9005,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,NaN
611141,Watercraft,2019,FISH PRO,Body,9010,RH Side Grille Without Sound System,291004456.0,8.19,NaN
611142,Watercraft,2019,FISH PRO,Body,9015,Screw Torx M6.81 X 30 Without Sound System,250001007.0,2.95,NaN

In [46]:
d['price'; 100000099]

SyntaxError: invalid syntax (<ipython-input-46-00a97e9b5983>, line 1)

In [43]:
df['price']

0           NaN
1           NaN
2           NaN
3          2.95
4           NaN
          ...
611138    71.99
611139     8.19
611140     2.95
611141     8.19
611142     2.95
Name: price, Length: 611143, dtype: float64

In [174]:
d[['year']].memory_usage()

Index        128
year     4889144
dtype: int64

In [179]:
d['year'].astype('categorical')

TypeError: data type 'categorical' not understood

In [17]:
df['oemparts'].value_counts()

OEM Parts    611143
Name: oemparts, dtype: int64

In [20]:
df['producer'].value_counts()

Sea-Doo    611143
Name: producer, dtype: int64

In [22]:
df['vehicle'].value_counts()

Watercraft    342432
Boats         268711
Name: vehicle, dtype: int64

In [23]:
df['year'].value_counts()

2012    51761
2006    51332
2008    40778
2009    39470
2011    38846
2010    34574
2007    32973
2001    27655
2004    25803
2005    25462
2002    23585
2003    22047
2000    21767
2015    19172
1996    18909
1998    17696
1997    17366
1999    16549
2019    16491
2014    16447
2018    16168
2013    13801
2017    11742
2016    10749
Name: year, dtype: int64

In [24]:
df['model'].value_counts()

GTX 155                    8660
RXT                        7563
GTI 130                    7151
GTX                        6426
WAKE 155                   6360
                           ...
Speedster, 5443             706
Speedster, 5772             686
Challenger 1800, 240 ER     686
Speedster, 5700             684
Speedster 1600, 240 ER      650
Name: model, Length: 390, dtype: int64

In [25]:
df['system'].value_counts()

Fuel System                            22770
Reverse                                19613
Electrical System                      17552
Cooling System                         16941
Engine Block                           16464
                                       ...
Bimini Top SE with Tower                   9
Carpet                                     8
Supercharger - RXP                         7
Ventilation - Model with Suspension        6
Pump 35S1419                               2
Name: system, Length: 1227, dtype: int64